@import url(/fonts/font-list.css);

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    /**禁用字体缩放**/
    -webkit-text-size-adjust: none;
}

s-page {
    text-align: center;
}

.main {
    padding: 10%;
    position: relative;
    z-index: 0;
    height: 100%;
    background-image: url('https://bing.biturl.top/?resolution=1366&format=image&index=0&mkt=zh-CN');
    background-repeat: no-repeat;
    background-size: cover;
}

.clock {
    opacity: 0.8;

    padding-bottom: 3%;

    #date {
        font-family: 'HarmonyOS Sans Light', Arial, Helvetica, sans-serif;
    }
    #time {
        font-family: 'HarmonyOS Sans Semibold', 'Ubuntu Mono', monospace;
        font-size: 6rem;
    }
}

.search-bar {
    width: 70%;
    opacity: 0.8;
}